<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/images/30DaysOfShredLogoTransparent.png" alt="30 Days of Shred Logo" style="height:2rem">
    </a>
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <ng-container *ngIf="accountService.currentUser$| async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/members" routerLinkActive="active">Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/practice" routerLinkActive="active">Practice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/practice/exercises" routerLinkActive="active">Exercises</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/practice/tabs" routerLinkActive="active">Tabs</a>
          </li>
        </ng-container>
        <li class="nav-item">
          <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
        </li>
      </ul>

      <div class="btn-group" dropdown *ngIf="(accountService.currentUser$ | async) as user">
        <button id="button-animated" dropdownToggle type="button" class="btn dropdown-toggle"
                aria-controls="dropdown-animated">
                <img class="profilePhoto" src="{{user.photoUrl}}" alt="{{user.username}}"> Welcome, {{user.username | titlecase}}<span class="caret"></span>
        </button>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu mt-1" aria-labelledby="button-animated" role="menu">
          <li role="menuitem"><a routerLink="/members/{{user.username}}" class="dropdown-item" href="#">My Profile</a></li>
          <li role="menuitem"><a routerLink="/member/edit" class="dropdown-item" href="#">Edit Profile</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
        </ul>
      </div>

      <!-- <div class="btn-group" dropdown *ngIf="loggedIn">
        <a class="dropdown-toggle text-light" dropdownToggle>Welcome user</a>
        <div class="dropdown-menu" *dropdownMenu="">
          <a class="dropdown-item">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div> -->

      <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form d-flex" (ngSubmit)="login()" autocomplete="off">
        <input
          name="username"
          [(ngModel)]="model.username"
          class="form-control me-2"
          type="text"
          placeholder="Username">
        <input
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2"
          type="password"
          placeholder="Password">
        <button class="btn btn-shred" type="submit">Login</button>
      </form>
  </div>
</nav>
