<div class="row" *ngIf="member">
  <div class="col-4">
    <h1>My Profile</h1>
  </div>
  <div class="col-8">
    <div class="alert alert-info" *ngIf="editForm.dirty">
      <strong>Information: </strong>You have made changes.  Any unsaved changes will be lost!
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <img [src]="member.profilePhoto === null ? './assets/images/user.png' : member.profilePhoto.url" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">
      <div class="container text-center">
        <div class="col-12 mb-3 px-3">
          <input #fileInput style="display: none" type="file" ng2FileSelect [uploader]="uploader" (change)="updatePhoto()">
          <button class="btn btn-sm btn-shred col-12" (click)="fileInput.click()"><i class="fa fa-edit"></i> Change Photo</button>
        </div>
      </div>
      <div class="card-body">
        <div>
          <h3><strong>{{member.knownAs}}</strong></h3>
        </div>
          <div>
            <strong>Country: {{member.country | titlecase}}</strong>
            <p></p>
          </div>
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{member.lastActive | timeago}}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{member.created | date}}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success">Save Changes</button>
        </div>
      </div>
    </div>
  </div>


  <div class="col-8">

    <tabset class="member-tabset">
      <tab heading="About {{member.knownAs}}">
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
          <h4>About</h4>
          <textarea class="form-control" [(ngModel)]="member.about" name="about" rows="6"></textarea>
          <h4 class="mt-2">Influences</h4>
          <textarea class="form-control" [(ngModel)]="member.influences" name="influences" rows="6"></textarea>
          <h4 class="mt-2">Goals</h4>
          <textarea class="form-control" [(ngModel)]="member.goals" name="goals" rows="6"></textarea>
        </form>
      </tab>
      <tab heading="Practice Routines">
        <h4>Practice Routines</h4>
        <p>Member practice routines</p>
      </tab>
      <tab heading="Favorite Tabs">
        <h4>Favorite Tabs</h4>
        <p>Favorite tabs will go here</p>
      </tab>
      <tab heading="Messages">
        <h4>Messages</h4>
        <p>Messages will go here</p>
      </tab>
    </tabset>



    <!-- <tabset class="">
      <tab heading="About {{member.knownAs}}">
        <h4>Description</h4>
        <p>About the user</p>
        <h4>Interested in</h4>
        <p>Member interests</p>
      </tab>
      <tab heading="Practice Routines">
        <h4>Practice Routines</h4>
        <p>Member practice routines</p>
      </tab>
      <tab heading="Favorite Tabs">
        <h4>Favorite Tabs</h4>
        <p>Favorite tabs will go here</p>
      </tab>
      <tab heading="Messages">
        <h4>Messages</h4>
        <p>Messages will go here</p>
      </tab>
    </tabset> -->


  </div>


</div>
